name: unit test and code coverage

on: pull_request

jobs:
  build:
    permissions:
      checks: write
      pull_requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm ci
      - run: npm test
      - uses: ArtiomTr/jest-coverage-report-action@v2